PORT=3000

JWT_SECRET=MY_SECRET_KEY
API_GATEWAY_JWT_EXPIRES_IN=1h

THROTTLE_TTL=60000
THROTTLE_LIMIT=10

AUTH_SERVICE_HOST=127.0.0.1
AUTH_SERVICE_PORT=4002

USER_SERVICE_HOST=127.0.0.1
USER_SERVICE_PORT=3001
